pymongo==2.8
mongoengine==0.8.7.1
flask-mongoengine
flask-script
-e git+https://github.com/benselme/flask-mako.git@4c6a190a12f107d82b91e4bd60c97eab58eb4a5c#egg=Flask-Mako
flask-babel
Flask-Cache
Flask-Mail
flask-redis
plim
mistune
pygments
arrow
Flask-OAuth
facebook-sdk
google-api-python-client
httplib2
oauth2
requests
requests-oauthlib
-e git+https://github.com/python-cn/flask-social-blueprint.git@b90c37af3f841190825d9705701240312b2b7a03#egg=flask-social-blueprint
