
  div.instapaper_ignore.readability-extra
    h2.facebox-header
      Keyboard shortcuts
      small
        button.btn-link.js-see-all-keyboard-shortcuts type="button"
         (Show all)
    div.columns
      -py
        columns = zip(*[iter(keyboards)] * 2)
      -for index, column in enumerate(columns)
        div.column.one-half
          table.keyboard-mappings
            -for block_info, keyboard in column
              -py
                attrs = {'class': 'js-hidden-pane'} if index else {}
              tbody**attrs
                tr
                  th
                  th
                    ${block_info}
                -for dbds, key_info in keyboard
                  -py
                    keys = dbds.split()
                  tr
                    td.keys
                      -for key in keys
                        - if key != '/':
                          kbd
                            ${key}
                        -else
                          /
                    td
                      ${key_info}
