
<div class="instapaper_ignore readability-extra">
  <h2 class="facebox-header">
    Keyboard shortcuts
    <small>
      <button class="btn-link js-see-all-keyboard-shortcuts" type="button">
        (Show all)
      </button>
    </small>
  </h2>
  <div class="columns">
    {% for column in columns %}
    <div class="column one-half">
      <table class="keyboard-mappings">
      {% for block_info, keyboard in column %}
        {% if loop.index0 %}
          {% set class="js-hidden-pane" %}
        {% else %}
          {% set class="" %}
        {% endif %}

        <tbody class="{{ class }}">
          <tr>
            <th></th>
            <th>{{ block_info }}</th>
            {% for dbds, key_info in keyboard %}
            <!-- keys = dbds.split() -->
            <tr>
              <td class="keys">
                {% for key in dbds.split() %}
                  {% if key != '/' %}
                    <kbd>{{ key }}</kbd>
                  {% else %}
                    /
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {{ key_info }}
              </td>
            </tr>
            {% endfor %}
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>
