{% macro index() -%}
<div id="reply-control" class="open edit-title hide">
  <div class="contents">
    <div class="edit-control">
      <a href="" title="hide or show the composer panel" class="toggler toggler"></a>
      <div class="control-row reply-area">
        <div class="composer-fields">
          <div class="reply-to">创建新主题:</div>
          <div class="form-element clearfix">
            <div class="title-input"><input placeholder="What is this discussion about in one brief sentence?" tabindex="2" type="text" maxlength="255" id="reply-title"/></div>
            <div class="category-input"><select tabindex="-1" title="" id="reply-category" class="combobox category-combobox"></select></div>
          </div>
        </div>
        <div style="top: 100px; bottom: 89px;" class="wmd-controls">
          <div class="textarea-wrapper"><textarea tabindex="4" id="wmd-input"></textarea></div>
          <div class="preview-wrapper regular">
            <div id="wmd-preview" class="cooked"></div>
          </div>
          <div class="composer-bottom-right">
            <a href="#" class="toggle-preview">« 关闭预览</a>
            <div id="file-uploading" class="hidden">
              <div class="spinner small"></div>
              Uploading %
              <a id="cancel-file-upload">
                <cancel></cancel>
              </a>
            </div>
          </div>
        </div>
        <div class="submit-panel">
          <div class="composer-fields-below-outlet add-tags">
            <input type="text" tabindex="-1" style="display: none;" class="tag-chooser"/>
          </div>
          <button tabindex="5" title="Or press Ctrl+Enter" class="btn btn-primary create"><i class="fa fa-plus"></i>创建主题</button><a href="#" tabindex="6" class="cancel">取消</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro topic() -%}
<div id="reply-control" class="open hide">
    <div class="grippie"></div>
    <div class="contents">
        <div class="control">
            <a class="toggler" href=""></a>
            <div class="control-row reply-area">
                <div class="composer-fields">
                    <div class="reply-to" data-comment-id=''>
                        <span>回应</span>
                        <a id="reply-topic" class="avatar" href="/t/6"></a>
                        <img class="avatar reply-author" alt="" width="20" height="20" />
                        <span></span>
                    </div>
                </div>
                <div class="wmd-controls" style="top: 56px; bottom: 45px;" >
                    <div class="textarea-wrapper">
                        <textarea id="wmd-input" cols="30" id="" name="" rows="10" tabindex="4"></textarea>
                    </div>

                    <div class="preview-wrapper regular">
                        <div id="wmd-preview" class="cooked"></div>
                    </div>
                    <div class="composer-bottom-right">
                        <a class="toggle-preview" href="#">« 关闭预览</a>
                        <div id="file-uploading" class="hidden">
                            <div class="spinner small"></div>
                            Uploading %
                            <a id="cancel-file-upload" href="">cancel</a>
                        </div>
                    </div>
                </div>

                <div class="submit-panel">
                    <button class="btn btn-primary reply" tabindex="5" title="Or press Ctrl+Enter" >
                        <i class="fa fa-plus">发布评论</i>
                    </button>
                    <a class="cancel" href="#" tabindex="6">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
