-inherit base.html
-block list_controls
  div.container
    div.row
      div.page-header
        h1.text-center
          Hi ${current_user.cn}
    div.row
      div.col-md-3.col-md-offset-3
        img.img-circle.img-responsive.mg-btm src="${current_user.gravatar}?s=300&d=retro" alt=""
      div.col-md-3
        dl
          dt
            邮箱
          dd
            ${current_user.email}
          dt
            First name
          dd
            ${current_user.first_name}
          dt
            Last name
          dd
            ${ current_user.last_name}
        a.btn.btn-primary.btn-lg href="${url_for_security('logout')}
          Logout

      -py
        connections = current_user.social_connections()
      -if connections
        div.row
          div.text-center.mg-btm
            h2.text-center
              Connections
              - for connection in connections
                a href="${connection.profile_url}"
                  img.img-circle src="${connection.image_url}" alt="" width="50" height="50"
    div.row
      div.text-center
        h2.text-center
          Connect another account

      div
        a.social-facebook.btn.btn-primary.btn-lg href="${url_for('social.login', provider='Facebook')}"
          i.fa.fa-2x.fa-facebook-square
        a.social-google.btn.btn-primary.btn-lg href="${url_for('social.login', provider='Google')}"
          i.fa.fa-2x.fa-google-plus
        a.social-github.btn.btn-primary.btn-lg href="${url_for('social.login', provider='Github')}"
          i.fa.fa-2x.fa-twitter
        a.social-twtter.btn.btn-primary.btn-lg href="${url_for('social.login', provider='Twitter')}"
          i.fa.fa-2x.fa-twitter
