-inherit base.html
-namespace name="widgets_editor" widgets/markdown_editor.html

-def title()
  首页

-block list_controls
  div.list-controls
    div.container.list-control
      ol.category-breadcrumb
        li.bullet
          a.badge-category href='' style="background-color: #eee; color: #333"
            all categories
          a.badge-category.category-dropdown-button style="background-color: #eee; color: #333"
            i.fa.fa-caret-right
          section.category-dropdown-menu.hidden
            div.cat
              a.badge-category href='/'
                all categories
      ul#navigation-bar.nav.nav-pills
        li.active title="topics with recent posts"
          a href="/latest"
            Latest
        li title="all topics grouped by category"
          a href="/categories"
            Categories
      button#create-topic.btn.btn-default.right
        i.fa.fa-plus
        New Topic

-block container
  div.container.list-container
    div#list-area
      div.contents
        table.topic-list
          thead
            tr
              th.default
                主题
              th.category
                分类
                i.fa.fa-chevron-down
              th.posts.num
                回应数
              th.views.num
                阅读量
              th.activity.num
                最近活跃时间
          tbody
            -for post in posts
              -py
                id = post.id
                # author = post.author
                category = post.category
                category_name = ''
                if category is not None:
                  category_name = category.name
                title = post.title
                replies = len(post.comments)
                views = post.views
                created_at = post.created_at
                activity = post.recent_activity_time
              tr.topic-list-item
                td.main-link.clearfix
                  a.title href="${url_for('post.detail', id=id)}"
                    ${title}
                  span.topic-post-badges

                td.category
                  a.badge-wrapper.bullet href="/category/${category_name}"
                    span.badge-category-parent-bg
                    span.badge-category.clear-badge ${category_name}

                td.num.posts-map.post
                  a.posts-map.badge-posts href=''
                    ${replies}
                td.num.views
                  span.number
                    ${views}
                td.num.age.activity
                  a
                    span class="relative-date" title="${activity}"
                      ${activity}

- def others()
  ${widgets_editor.main()}

-def head_script()
  link href="${url_for('static', filename='stylesheets/base16-light.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/codemirror.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/select2.min.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/index.css')}" rel="stylesheet" media="all"

-def footer_script()
  script
    require(['../static/javascripts/common'], function (common) {
      require(['index']);
    });
