{% macro signin() -%}
<div class="signin hide">
    <div class="modal-header">
        <a class="close" href="">
            <i class="fa fa-times"></i>
        </a>
        <h3>登录</h3>
        <div class="clearfix"></div>
    </div>
    <form id="signinform" class="login-form" role="form" method="post" action="{{url_for('home.login')}}">
        <div class="form-group">
            <label class="control-label" for="">第三方登录</label>
            <div class="thirdparty-login-btns">
                <div class="table-space">
                    <a class="login-btn btn-github" href="/_social/login/Github">
                        <i class="fa fa-github">GitHub</i>
                    </a>
                </div>
                <div class="table-space">
                    <a class="login-btn btn-weibo" href="/_social/login/Weibo">
                        <i class="fa fa-weibo">微博</i>
                    </a>
                </div>
                <div class="table-space">
                    <a class="login-btn btn-google" href="/_social/login/Google">
                        <i class="fa fa-google">Google</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label class="control-label" for="inputEmail">邮箱</label>
            <input id="inputEmail" class="form-control" type="text" value="" type="email" required="" tabindex="1" name="email"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">
                密码（<a tabindex="4" href="/forgotpass">忘记密码</a>）
            </label>
            <input id="inputPassword" class="form-control" type="text" value="" type="password" required="" tabindex="2" name="password" />
        </div>
        <div class="form-group">
            <button id="loginBtn" class="login-btn btn-default" tabindex="3" type="submit">
                登录
            </button>
        </div>
    </form>
</div>
{%- endmacro %}

{% macro signup() -%}
<div class="signup">
    <div class="modal-header">
        <a class="close" href="">
            <i class="fa fa-times"></i>
        </a>
        <h3>注册</h3>
        <div class="clearfix">
        </div>
    </div>

    <form id="signupform" class="login-form" role="form" method="post" action="{{url_for('home.register')}}">
        <div class="form-group">
            <label class="control-label" for="">
                第三方注册
            </label>
            <div class="thirdparty-login-btns">
                <div class="table-space">
                    <a class="login-btn btn-github" href="/_social/login/Github">
                        <i class="fa fa-github">GitHub</i>
                    </a>
                </div>
                <div class="table-space">
                    <a class="login-btn btn-weibo" href="/_social/login/Weibo">
                        <i class="fa fa-weibo">微博</i>
                    </a>
                </div>
                <div class="table-space">
                    <a class="login-btn btn-google" href="/_social/login/Google">
                        <i class="fa fa-google">Google</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label class="control-label" for="inputUsername">
                用户名
            </label>
            <b class="has-required" data-title="必填">Required</b>
            <input id="inputUsername" class="form-control" type="text" value="" type="text" name="username" tabindex="1"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputEmail">邮箱</label>
            <b class="has-required" data-title="必填">Required</b>
            <input id="inputEmail" class="form-control" type="text" value="" type="email" name="email" tabindex="2"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">密码</label>
            <b class="has-required" data-title="必填，至少 8 位，同时包含数字、小写字母、大写字母">Required</b>
            <input id="inputPassword" class="form-control" type="text" value="" type="password" name="password" tabindex="3" />
        </div>
        <div class="form-group">
            <button id="signupBtn" class="signup-btn btn btn-default" type="submit" tabindex="4" disabled="disabled" >注册</button>
        </div>
    </form>
</div>
{%- endmacro %}
