-inherit /base.html

-def head_script()
  link href="${url_for('static', filename='stylesheets/base16-light.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/codemirror.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/post.css')}" rel="stylesheet" media="all"

-def outlet()
  div
    ul
      与${user.username}的消息
    - for message in messages
      li
        ${message.sender.username} -> ${message.receiver.username} ${message.content} ${message.created_at}

-def footer_script()
  script
    require(['../../static/javascripts/common'], function (common) {
    });

- def others()
    form method="post"
      div
        ${ form.content.label() }
        ${ form.content() }
        ${ form.csrf_token() }
      div
        button type="submit" submit
