-py!
  from firefly.libs.markdown import Markdown
-inherit /base.html
- namespace name='forms' /_forms.html
-namespace name="widgets_editor" /widgets/markdown_editor.html

-def outlet()
  div#topic-title
    div.container
      div.title-wrapper
        h1
          a.fancy-title href="${post.url()}"
            ${post.title}
        - if post.category
          div.category-title
            a.badge-wrapper.bullet href="/c/${post.category.id}"
              span.badge-category-bg style="background-color: ${post.category.color if post.category else '#999'}"
              span.badge-category.clear-badge style="color: #FFFFFF;" title="${post.category.description}"
                ${post.category.name}
  div.container.posts
    div.row
      section#topic.topic-area data-topic-id="${post.id}"
        div.posts-wrapper
          - for index, p in enumerate([post] + post.comments)
            -py
              cloak_id = 'post-cloak-{}'.format(index)
              class c(object):
                id = 100001
                name = 'test1'
                avatar = 'https://meta-discourse.global.ssl.fastly.net/user_avatar/meta.discourse.org/codinghorror/90/5297.png'
                cn = 'Test'
                def url(self):
                  return '/user/1000001'
              # author = p.author
              author = c()
            div#${cloak_id}.post-cloak data-comment-id=${p.id} data-order-id=${index}
              div.topic-post.clearfix.regular
                article.boxed data-user-id="${author.id}" data-post-id="${p.id}"
                  div.row
                    div.topic-avatar
                      div.contents
                      a href="${author.url()}" data-user-card="${author.name}"
                        img.avatar alt="" width="45" height="45" src="${author.avatar}" title="${author.name}"
                    div.topic-body
                      div.topic-meta-data
                        div.names.trigger-user-card
                          span.username.staff
                            a href="${author.url()}" data-user-card="${author.name}"
                              ${author.name}
                            i.fa.fa-shield title="This user is a moderator" alt="This user is a moderator"
                          span.full-name
                            a href="${author.url()}" data-user-card="${author.name}"
                              ${author.cn}
                          span.user-title
                            a.user-group href="/groups/discourse"
                              co-founder
                        div.post-info
                          a.post-date href="/t/quickly-tell-someone-why-they-should-look-at-a-topic/27503/2" data-bindattr-1516="1516"
                            span.relative-date title="April 13, 2015 8:43am" data-time="1428885788713" data-format="tiny"
                              7d
                      div.contents.regular
                        div.cooked
                          - if p.content
                            -py
                              content = Markdown.render(p.content)
                            - if p.post_type == 'Quote'
                              blockquote
                                ${content|n}
                            - else
                              ${content|n}
                          - if hasattr(p, 'embed_code') and p.embed_code
                            ${p.embed_code}
                          - if hasattr(p, 'image_url') and p.image_url
                            p
                              img" src=${p.image_url}"
                            p
                              ${p.created_at.strftime('%H:%M %Y-%m-%d')}
                        section.post-menu-area.clearfix
                          nav.post-controls
                            button.show-replies
                              span.badge-posts
                                2
                              Replies
                            div.actions
                              button.like title='喜欢这个主题?'
                                i.fa.fa-heart
                              button title='分享' data-share-url="/t/dd"
                                i.fa.fa-link
                              button.bookmark title='标记'
                                div.read-icon
                              button.create title='评论'
                                i.fa.fa-reply
                                评论

    Add a comment
  form action="." method="post"
    ${forms.render(form)}
    div.actions
    input.btn.btn-primary type='submit' value='comment'

-def head_script()
  link href="${url_for('static', filename='stylesheets/base16-light.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/codemirror.css')}" rel="stylesheet"
  link href="${url_for('static', filename='stylesheets/post.css')}" rel="stylesheet" media="all"

-def footer_script()
  script
    require(['../../static/javascripts/common'], function (common) {
      require(['post']);
    });

- def others()
  ${widgets_editor.topic()}
