-py!
  from firefly.libs.markdown import Markdown
-inherit /base.html
- namespace name='forms' /_forms.html
- block list_controls
  - if post.content
    -py
      content = Markdown.render(post.content)
    - if post.post_type == 'Quote'
      blockquote
        ${content|n}
      p
        ${post.author}
    - else
      ${content|n}
  - if hasattr(post, 'embed_code') and post.embed_code
    ${post.embed_code}
  - if hasattr(post, 'image_url') and post.image_url
    p
      img src="${post.image_url}"
  p
    ${post.created_at.strftime('%H:%M %Y-%m-%d')}
  h2
    Add a comment
  form action="." method="post"
    ${forms.render(form)}
    div.actions
    input.btn.btn-primary type='submit' value='comment'
