-inherit /base.html
- block content
  - for post in posts
    h2
      a href="${post.get_absolute_url()}"
        ${post.title}
      - if post.body
        - if post.post_type == 'Quote'
          blockquote
            ${post.body}
          p
            ${post.author}
        - else
          p
            ${post.body}
      - if hasattr(post, 'embed_code') and post.embed_code
        ${post.embed_code}
      - if hasattr(post, 'image_url') and post.image_url
        p
          img src="${post.image_url}"
      p
        ${post.created_at.strftime('%H:%M %Y-%m-%d')}
        -py
          total=len(post.comments)
        ${total} comment
