{% extends "base.html" %}
{% block outlet %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1 class="text-center">Please sign in</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="social-login-buttons">
                <a class="social-facebook btn btn-default btn-lg" href="{{url_for('social.login', provider='Facebook')}}">
                    <i class="fa fa-facebook-square">with Facebook</i>
                </a>
                <a class="social-google btn btn-default btn-lg" href="{{url_for('social.login', provider='Google')}}">
                    <i class="fa fa-google-plus">with Google</i>
                </a>
                <a class="social-github btn btn-default btn-lg" href="{{url_for('social.login', provider='Github')}}">
                    <i class="fa fa-github">with Github</i>
                </a>
                <a class="social-twitter btn btn-default btn-lg" href="{{url_for('social.login', provider='Twitter')}}">
                    <i class="fa fa-twitter">with Twitter</i>
                </a>
            </div>
        </div>

        <div class="col-md-5">
            <form class="form-signin" action="" role="form">
                <input type="email" class="form-control input-lg" placeholder="Email address" required="required" autofocus="autofocus"/>
                <input type="password" class="form-control input-lg" placeholder="Password" required="required"/>
                <label class="checkbox" for=""></label>
                <input id="remember" name="remember" type="checkbox" value="y">Remember me
                <input id="next" name="next" type="hidden" value=""/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="text-center">
            <ul class="nav nav-pills" style="display: inline-block;">
                <li>
                    <a href="{{url_for_security('login')}}">Login</a>
                </li>
                <li>
                    <a href="{{url_for_security('register')}}">Register</a>
                </li>
                <li>
                    <a href="{{url_for_security('forgot_password')}}">Forgot password</a>
                </li>
                <li>
                    <a href="{{url_for_security('send_confirmation')}}">Confirm account</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
