#list-area {
    margin-bottom: 100px;
}
.topic-list-bottom {
    margin: 20px 0;
}

.list-control {
    height: 48px;
}

.topic-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -75%);
    background: rgba($secondary, .8);

    a.title {
        color: $primary;
    }

    > tbody > tr {

        &.archived a {
            opacity: 0.6;
        }
        &.has-excerpt .star {
            vertical-align: top;
            margin-top: 2px;
        }
    }

    th,
    td {
        line-height: 1.25;
        text-align: left;
        vertical-align: middle;
        padding: 12px 5px;
    }
    th {
        color: scale-color($primary, $lightness: 50%);
        font-weight: normal;
        font-size: 1em;
        button i.fa {color: scale-color($primary, $lightness: 50%);}

    }
    td {
        color: scale-color($primary, $lightness: 50%);
        font-size: 1em;
    }
    th:first-of-type, .topic-list td:first-of-type {
        padding-left: 10px;
    }
    .main-link {
        font-size: 1.143em;
        width: 400px;
        padding-right: 20px;
        a.title {
            padding: 15px 0;
        }
    }
    .topic-excerpt {
        font-size: 0.929em;
        margin-top: 8px;
        color: scale-color($primary, $lightness: 50%);
        word-wrap: break-word;
        line-height: 1.4;
        padding-right: 20px;
    }
    .topic-statuses:empty {
        display: none;
    }
    .topic-status {
        margin-right: 4px;
        padding: 0;
        font-size: 1.071em;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .num {
        text-align: right;
        a:not(.badge-posts) {
            color: inherit;
        }
        a.badge-posts {
            font-weight: bold;
        }
    }
    .num.posts {
        a {
            padding: 15px 5px;
        }
    }

    .num.activity {
        a {
            padding: 15px 5px;
        }
    }
}

.topic-list.categories {
    .category .badge-notification {
        background-color:transparent;
        color: scale-color($primary, $lightness: 50%);
        position: inherit;
    }

    .subcategories .badge {
        display: none;
    }
    td.category {
        vertical-align: top;
        padding-top: 15px;
        padding-bottom: 15px;
        border-left: 6px solid;
    }
    td.stats {
        .unit {
            font-size: 11px;
        }
    }
    table.categoryStats {
        td {
            padding: 2px;
            vertical-align: bottom;
            line-height: 24px;
            &.value { text-align: right; font-size: 1.429em; }
            &.unit  { text-align: left; }
        }
    }
}

.loading .topic-list {
    border: 0;
    box-shadow: none;
    tr {
        background-color: transparent;
    }
}
